

@font-face {
  font-family: 'BOS';
  src: local('BOS'), url('./BOOKOS.TTF')format("truetype");
  font-weight: normal;
}

.App{
  font-family: 'BOS';
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.Divider{
  width: 60vw;
  align-self: center;
}





@import 'bootstrap/dist/css/bootstrap.min.css';